/*should prevent scrolling*/
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden; /*custom cursor???*/
}
body{
	background-image: url("background-imgs/kranvagn-nature.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
#button1,#button2,#button3,#retrybutton{
	font-family: "franklin gothic heavy";
	font-size: 40px;
	background: linear-gradient(rgba(255,0,0,1), rgba(0,0,0,1));
	border: 1px solid rgba(0,0,0,1);
	height: 100px;
	width: 200px;
	background-color: red;
	margin: 50px;
	color: rgba(255,255,255,1);
}
#button1:hover,#button2:hover,#button3:hover,#retrybutton:hover{
	background: linear-gradient(rgba(180,0,0,1), rgba(0,0,0,1));
}
#retrybutton{
	position: relative;
	top: -210px;
}
/*>--h1--<*/
#title{
	font-family: "arial black";
	text-align: center;
  	font-size: 75px;
  	color: rgba(0,0,0,1);
}
/*>--p--<*/
#description,#defeatdescription{
	font-family: "kartika";
	text-align: center;
  	top: 400px;
  	font-size: 40px;
  	color: rgba(0,0,0,1);
  	margin-left: 300px;
  	margin-right: 300px;
}
#defeatdescription{
	position: relative;
	top: 400px;
}
#game-buttons{
	position: relative;
	top: 400px;
	left: 50%;
	margin-left: -400px;
}
/*<---tutorial--->*/
#speechbubble1{
	position: absolute;
	top: 10px;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
	transition: 1s;
}
#general{
	height: 600px;
	position: fixed;
	left: -10px;
	bottom: -17px;
	transition: 1s;
}
/*<---tanks in the tutorial--->*/
#Rpz{
	position: relative;
	top: -300px;
	left: 50%;
	margin-left: -302px;
}
#E50m{
	position: relative;
	top: -250px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
}
#Maus{
	position: relative;
	top: -230px;
	left: 50%;
	margin-left: -240px;
	width: 480px;
}
#Jadgpanzer{
	position: relative;
	top: -50px;
	left: 50%;
	margin: -263px;
}
/*<---countdown--->*/
#loadicon{
	position: relative;
	left: 50%;
	top: -400px;
	margin-left: -300px;
}
#loadcountdown{
	position: relative;
	top: -300px;
	left: 500px;
}
/*<---level 1--->*/
#europemap{
	position: relative;
	top: -450px;
	left: 50%;
	margin-left: -699px;
	z-index: -1;
}
#map-title{
	font-family: "arial black";
	text-align: center;
  	font-size: 75px;
  	color: rgba(0,0,0,1);
  	position: relative;
  	top: -50px;
}
#map-description{
	font-family: "kartika";
	text-align: center;
	position: relative;
  	top: -50px;
  	font-size: 40px;
  	color: rgba(0,0,0,1);
  	margin-left: 300px;
  	margin-right: 300px;
  	background-color: rgba(123, 175, 255, 0.5);
}
#sniperscope{
	position: relative;
	top: -700px;
	left: 0px;
	z-index: -1;
}
/*<--armor/hit model rheinmetall panzerwagen-->*/
#cheeckplaterhz{
	position: fixed;
	top: 330px;
	left: 720px;
}
#sideplaterhz{
	position: absolute;
	top: 570px;
	left: 425px;
}
#deckplaterhz{
	position: absolute;
	top: 470px;
	left: 680px;
}
#cheeckplaterhz,#sideplaterhz,#deckplaterhz{
	opacity: 0;
	transition: 1s;
}
#cheeckplaterhz:hover,#sideplaterhz:hover,#deckplaterhz:hover{
	opacity: 1;
	transition: 1s;
	cursor: crosshair;
}
/*<--hit effects rheinmetall panzerwagen-->*/
#cheeckbulletholethz{
	position: absolute;
	top: 400px;
	left: 950px;
}
#sidebulletholethz{
	position: absolute;
	top: 600px;
	left: 900px;
}
#deckbulletholerhz{
	position: absolute;
	top: 500px;
	left: 900px;
}
#cheeckflamesrhz{
	position: absolute;
	top: -78px;
	left: 875px;
}
#sideflamesrhz{
	position: absolute;
	top: 120px;
	left: 820px;
}
#deckflamesrhz{
	position: absolute;
	top: 20px;
	left: 825px;
}
/*<--armor/hit model E50M-->*/
#lowerplateE50m{
	position: relative;
	top: 62px;
	left: 1060px;
	transition: 1s;
	opacity: 0.0;
}
#sideplatee50m{
	position: relative;
	top: 65px;
	left: 580px;
	transition: 1s;
	opacity: 0.0;
}
#upperplatee50m{
	position: relative;
	top: 15px;
	left: 475px;
	transition: 1s;
	opacity: 0.0;
}
#turretplateE50m{
	position: relative;
	top: 22px;
	left: 880px;
	transition: 1s;
	opacity: 0.0;
}
#turretplatee50m2{
	position: relative;
	top: 22px;
	left: 880px;
	transition: 1s;
	opacity: 0.0;
}
#sideplatee50m2{
	position: relative;
	top: 140px;
	left: 565px;
	transition: 1s;
	opacity: 0.0;
}
#upperplatee50m2{
	position: relative;
	top: 120px;
	left: 470px;
	transition: 2s;
	opacity: 0.0;
}
#lowerplateE50m:hover,#sideplatee50m:hover,#upperplatee50m:hover,#turretplateE50m:hover,#turretplatee50m2:hover,#sideplatee50m2:hover,#upperplatee50m2:hover{
	opacity: 1.0;
	cursor: crosshair;
}
/*<--armor/hit model JPZ-E100-->*/
#lowerplatejpz1{
	position: relative;
	top: 124px;
	left: 910px;
	transition: 2s;
	opacity: 0.0;
}
#turretplatejpz1{
	position: relative;
	top: 57px;
	left: 800px;
	transition: 2s;
	opacity: 0.0;
}
#upperplatejpz1{
	position: relative;
	top: 105px;
	left: 635px;
	transition: 2s;
	opacity: 0.0;
}
#lowerplatejpz2{
	position: relative;
	top: 132px;
	left: 870px;
	transition: 2s;
	opacity: 0.0;
}
#turretplatejpz2{
	position: relative;
	top: 20px;
	left: 735px;
	transition: 2s;
	opacity: 0.0;
}
#upperplatejpz2{
	position: relative;
	top: 107px;
	left: 516px;
	transition: 2s;
	opacity: 0.0;
}
#lowerplatejpz1:hover,#turretplatejpz1:hover,#upperplatejpz1:hover,#lowerplatejpz2:hover,#turretplatejpz2:hover,#upperplatejpz2:hover{
	opacity: 1.0;
	cursor: crosshair;
}
/*<--armor/hit model Maus-->*/
#sideplatemaus1{
	position: relative;
	top: 95px;
	left: 812px;
	transition: 2s;
	opacity: 0.0;
}
#turretplatemaus1{
	position: relative;
	top: 7px;
	left: 615px;
	transition: 2s;
	opacity: 0.0;
}
#upperplatemaus1{
	position: relative;
	top: 58px;
	left: 665px;
	transition: 2s;
	opacity: 0.0;
}
#cheeksplatemaus2{
	position: relative;
	top: 0px;
	left: 862px;
	transition: 2s;
	opacity: 0.0;
}
#sideplatemaus2{
	position: relative;
	top: 85px;
	left: 660px;
	transition: 2s;
	opacity: 0.0;
}
#upperplatemaus2{
	position: relative;
	top: 48px;
	left: 625px;
	transition: 2s;
	opacity: 0.0;
}
#cheeksplatemaus3{
	position: relative;
	top: -25px;
	left: 870px;
	transition: 2s;
	opacity: 0.0;
}
#sideplatemaus3{
	position: relative;
	top: 80px;
	left: 685px;
	transition: 2s;
	opacity: 0.0;
}
#upperplatemaus3{
	position: relative;
	top: 42px;
	left: 646px;
	transition: 2s;
	opacity: 0.0;
}
#sideplatemaus1:hover,#turretplatemaus1:hover,#upperplatemaus1:hover#cheeksplatemaus2:hover,#sideplatemaus2:hover,#upperplatemaus2:hover,#cheeksplatemaus3:hover,#sideplatemaus3:hover,#upperplatemaus3:hover{
	opacity: 1.0;
	cursor: crosshair;
}
/*<--inventory item-->*/
#inventoryItem{
	position: absolute;
	top: 715px;
	left: 260px;
	width: 30px;
}
/*<--medals endscreen-->*/
#survivingsmedal{
	position: absolute;
	top: 39%;
	left: 20%;
	margin-left: -90px;
	height: 180px;````
}
#geniusmedal{
	position: absolute;
	top: 39%;
	left: 35%;
	margin-left: -90px;
	height: 180px;````
}
#tutorialmedalawarded{
	position: absolute;
	top: 39%;
	left: 50%;
	margin-left: -90px;
	height: 180px;````
}
#collectablemedalawarded{
	position: absolute;
	top: 39%;
	left: 65%;
	margin-left: -90px;
	height: 180px;````
}
#allmedalsmedal{
	position: absolute;
	top: 39%;
	left: 80%;
	margin-left: -90px;
	height: 180px;
}